version: 2
jobs:
  shellcheck:
    docker:
      - image: koalaman/shellcheck-alpine:stable
    steps:
      - checkout
      - run:
          name: Check Scripts
          command: |
            echo "hi yar"
            ls
workflows:
  version: 2
  workflow:
    jobs:
      - shellcheck

